/* style body */

/* style quiz */

/* style timer */

/* style return link */

footer{
    border-top-style: solid;
    border-top-color: lightseagreen;
    border-top-width: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: skyblue;
    font-size: 20px;
    font-family: 'Bilbo', 'Times New Roman', Times, serif;
    text-align: center;
}