/* style body */

header{
    
    margin: auto 0;
    width: 100%;
    border: 5px;
    border-style: ridge;
    border-color: lightseagreen;
    font-weight: bold;
}

.quizTitle{
    text-align: center;
}

/* style quiz */
.mainCont{
    text-align: center;
    margin: 50px auto;
    padding-right: 50px;
    padding-left: 50px;
    
}

#sectionTopic, 
#lineOne, 
#lineTwo,
#lineThree,
#lineFour{
    padding-top: 5px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 5px;
}
/* style timer */
.timer{
    text-align: right;
    margin: auto 0;
}

.countdown,
.scoreLink{
    text-align: left;
    margin: auto 0;
}

/* style score link */

footer{
    border-top-style: solid;
    border-top-color: lightseagreen;
    border-top-width: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: skyblue;
    font-size: 20px;
    font-family: 'Bilbo', 'Times New Roman', Times, serif;
    text-align: center;
}